[submodule "MaintenanceManagementSystem/MaintenanceManagementSystem"]
	path = MaintenanceManagementSystem/MaintenanceManagementSystem
	url = https://github.com/Oz05-jpg/MaintenanceManagementSystem.git
